script(src='/bower_components/jquery/dist/jquery.min.js')
link(href='/bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/angular-messages/angular-messages.min.js')
script(src='/public/dist/tictactoe.js')
script(src='/bower_components/angular-route/angular-route.min.js')
