extends ./layout.jade

block title
  title
    if !title
      | All the games!
    else
      = title

block content
  h1
    if !title
      | All the games!
    else
      = title
  p Existing boards
  ul
    each board in boards
      li
        a(href="/games/#{board.id}") Game ##{board.id}
  
  p All the boards
  div(ng-controller="BoardsController as boards")
    ul
      li(ng-repeat="board in boards.boards track by board.id")
        a(ng-click="boards.selectBoard(board)") Game {{ '#' + board.id }}
  
    div(ng-show="boards.selectedBoard")
      p Game {{ '#' + boards.selectedBoard.id }}
      tic-tac-toe-board(the-board="boards.selectedBoard.board")
  
  if errors
    p.text-danger= errors.message
  form(name="newGame" method="post" action="/games")
    .form-group
      label New Board Config
      input.form-control(type="text" name="board")
    button.btn.btn-default(type="submit") Create!
