extends ./layout.jade

block title 
  title Hello world!

block content
  h1 Hello fellow citizens!
    
  form(name="game", action="/game", method="post")
    input(type="text", name="username")
    input(type="submit")
