extends ./layout.jade

block title 
  title Hello world!

block content
  ng-view
  //- h1 
  //-   | Hello 
  //-   if currentUser
  //-     = currentUser.username
  //-   else
  //-     | fellow citizens!
  //-   
  //- form(name="game", action="/game", method="post")
  //-   input(type="text", name="username")
  //-   input(type="submit")
