//- ./views/layout.jade
doctype html
html(ng-app="bewd.tictactoe")
  head
    include ./includes/bower_bootstrap.jade
    block title
      title Tic Tac Toe Time!

  body
    include ./includes/flash.jade
    include ./mixins/forLoggedInUser.jade
    +forLoggedInUser
      .container
        .alert.alert-info
          p You are currently logged in as #{currentUser.username}
    
    .container
      .well
        block content
