//- ./views/layout.jade
doctype html
html
  head
    include ./includes/bower_bootstrap.jade
    block title
      title Tic Tac Toe Time!

  body
    include ./includes/flash.jade
    .container
      .well
        block content
