doctype html
html
  head
    include ./includes/bower_bootstrap.jade
    title Regsiter for Tic Tac Toe!
  body
    include ./includes/flash.jade
    .container
      h1 Register for Tic Tac Toe!
      
      form(name="register", action="/register", method="post")
        .form-group
          label Username
          input.form-control(type="text", name="username")
        .form-group
          label Password
          input.form-control(type="password", name="password")
        button.btn.btn-default(type="submit") Register!
